<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Confirmación de Compra</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
    <link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">
</head>
<body style="padding: 10px; font-family: Arial, sans-serif; background-color: #f5f5f5;">

<div class="card"
     style="margin: auto; width: 900px; background: #fff; border-radius: 20px; padding: 30px; box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);">

    <div class="card-content" style="width: 100%;">

        <p class="card-heading" style="font-size: 27px; font-weight: 700; color: rgb(0, 140, 186);">
            ¡Tu compra ha sido procesada con éxito!
        </p>

        <p class="card-saludo" style="font-weight: 700; font-size: 20px; color: rgb(4, 118, 156);">
            Hola <span style="font-weight: 700; padding: 2px; border-radius: 4px;" class="name_user">[Nombre del Cliente]</span>,
        </p>

        <p class="card-mensaje" style="font-weight: 100; font-size: 16px; color: rgb(102, 102, 102);">
            Gracias por tu compra en <strong>CIX TECH MART</strong>.
        </p>

        <p class="card-mensaje" style="font-weight: 100; font-size: 16px; color: rgb(102, 102, 102);">
            Hemos recibido tu pago y adjuntamos tu boleta electrónica en este correo.
        </p>

        <p class="card-description" style="font-weight: 100; font-size: 15px; color: rgb(102, 102, 102);">
            ✅ <strong>Número de pedido:</strong> <span class="number_order">[Número de pedido]</span><br>
            📅 <strong>Fecha de compra:</strong> <span class="date_order">[Fecha de compra]</span>
        </p>

        <p class="card-description" style="font-weight: 100; font-size: 15px; color: rgb(102, 102, 102);">
            Tu pedido está siendo preparado y te informaremos cuando esté en camino.
        </p>

        <p class="card-description" style="font-weight: 100; font-size: 15px; color: rgb(102, 102, 102);">
            Si tienes alguna duda, no dudes en responder a este correo o contactarnos en <strong>cixtechmart@gmail.com</strong>.
        </p>

        <p class="card-description" style="font-weight: 100; font-size: 15px; color: rgb(102, 102, 102);">
            ¡Gracias por confiar en nosotros!
        </p>
    </div>

    <div class="footer" style="text-align: center; font-size: 14px; color: #555; margin-top: 20px;">
        Atentamente,<br>
        <strong>Jefe del área de ventas</strong>
    </div>

</div>

</body>
</html>
