<!DOCTYPE html>
<html lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
<head>
    <title>Reembolso aceptado</title>
</head>
<body style="font-family: 'Open Sans', Arial, sans-serif; background-color: #f5f5f5; margin: 0; padding: 20px;">

<div class="card"
     style="max-width: 600px; margin: auto; background: #fff; border-radius: 10px; padding: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); text-align: center;">

    <!-- Icono -->
    <div class="icon-container" style="margin-bottom: 20px;">
        <div style="background: #f0f0f0; width: 80px; height: 80px; margin: auto; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
            <img  src="https://i.ibb.co/hSx3pNH/img-refund.jpg" alt="Icono reembolso" style="width: 200px;">
        </div>
    </div>

    <!-- Mensaje principal -->
    <h1 style="font-size: 22px; font-weight: 700; color: #333;">SOLICITUD DE REEMBOLSO <span class="result_text">ACEPTADA</span></h1>
    <p style="font-size: 16px; color: #555; margin-bottom: 20px;"><span class="coment_text">Se te realizará el reembolso a tu tarjeta en un máximo de 48 horas.</span></p>

    <!-- Información de la tarjeta -->
    <div style="text-align: left; background: #f9f9f9; border: 1px solid #e0e0e0; padding: 15px; border-radius: 8px; margin-bottom: 15px;">
        <p style="font-size: 14px; color: #888; margin: 0;">Código de pedido:</p>
        <p style="font-size: 16px; color: #333; font-weight: 700; margin: 5px 0;"><span class="code_order">ORD002</span></p>
        <p style="font-size: 14px; color: #888; margin: 0;">Total a reembolsar</p>
        <p style="font-size: 16px; color: #333; font-weight: 700; margin: 5px 0;">s/ <span class="total_refund">123.23</span></p>
    </div>

    <!-- Detalle de la compra -->
<!--    <div style="text-align: left; background: #f9f9f9; border: 1px solid #e0e0e0; padding: 15px; border-radius: 8px;">-->
<!--        <p style="font-size: 14px; color: #888; margin: 0;">Detalle de mi compra</p>-->
<!--        <p style="font-size: 16px; color: #333; font-weight: 700; margin: 5px 0;">Entradas x2 - S/ 300</p>-->
<!--        <p style="font-size: 14px; color: #555; margin: 0;">Estadio Nacional | OCCIDENTE LAT.I Asiento: OCC-I-B-8-8</p>-->
<!--        <p style="font-size: 14px; color: #555; margin: 0;">Estadio Nacional | OCCIDENTE LAT.I Asiento: OCC-I-B-8-8</p>-->
<!--    </div>-->

    <!-- Nota -->
    <p class="secondary" style="font-size: 10px;">Este es un mensaje automático; por favor, no responda.</p>
</div>

</body>
</html>
