<!DOCTYPE html>
<html lang="es">
<meta name="viewport" content="width=device-width"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C700"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
<link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">
<head>
    <title>Confirmación de Reembolso</title>
</head>
<body style="padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif; background-color: #f5f5f5;">

<div class="card"
     style="margin: auto;
      width: 900px;
       height: auto;
        background: rgb(255, 255, 255);
         border-radius: 20px;
            gap: 20px;
           padding: 30px;
             box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);">

    <div class="card-content"
         style="width: 100%; height: auto;gap: 5px;">

        <p class="card-heading" style="font-size: 27px; font-weight: 700;color: rgb(0, 140, 186);">Confirmación de
            Reembolso</p>

        <p class="card-saludo" style="font-weight: 700; font-size: 20px; color: rgb(4, 118, 156);">
            Estimado/a <span style="font-weight: 700; padding: 2px; border-radius: 4px;"
                             class="name_user">[Nombre del Cliente]</span>,
        </p>

        <p class="card-mensaje" style="font-weight: 100; font-size: 16px; color: rgb(102, 102, 102);">
            Hemos recibido su solicitud de reembolso para el pedido <strong class="number_order">[Número de pedido]</strong>, realizada el
            <strong class="date_solit">[Fecha de solicitud]</strong>. Nuestro equipo está revisando su solicitud y le informaremos sobre el
            estado del proceso en un plazo de máximo de 48 horas.</strong>.
        </p>

        <p class="card-description" style="font-weight: 100; font-size: 15px; color: rgb(102, 102, 102);">
            Si necesitamos información adicional, nos pondremos en contacto con usted. Le recordamos que el tiempo de
            procesamiento del reembolso puede variar según el método de pago utilizado.
        </p>

        <p class="card-description" style="font-weight: 100; font-size: 15px; color: rgb(102, 102, 102);">
            Le enviaremos correos con el estado del proceso de su solicitud.
        </p>

        <p class="card-description" style="font-weight: 100; font-size: 15px; color: rgb(102, 102, 102);">
            Agradecemos su paciencia y confianza en CixTechMart.
        </p>
    </div>

    <div class="footer" style="text-align: center; font-size: 14px; color: #555; margin-top: 20px;">
        Atentamente,<br>
        <strong>Jefe del área de ventas</strong>
    </div>

    <p class="secondary" style="font-size: 10px; text-align: center;">Este es un mensaje automático; por favor, no
        responda.</p>
</div>

</body>
</html>
